.CurrentTripTitle{
    display: block;
    text-align: left;
    font-size: 20px; 
    padding: 10px;
    margin-right: 10px;
    word-spacing: 2px;
    font-weight: bold

}


.AllGroups{
    text-align: left; 
<<<<<<< HEAD
}
=======
}
>>>>>>> 79472807a2ea6ee6306c536e658f86b2346579e9
