.CurrentTripTitle {
  display: block;
  text-align: left;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
  word-spacing: 2px;
  font-weight: bold;
}

.Home {
  text-align: left;
}

.btn {
  margin-left: 10px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: lowercase;
}


.table {
  font-size: 10px; 
}

.headers{
  font-size: 15px; 
}

.btn-xs {
  flood-color: rgb(73, 176, 145);
}

.modal-title {
  font-size: 20px 
}

.transaction-info {
  font-size: 15px; 
  text-align: left; 
}



